
@import '/src/styles/settings.pcss';

.auth-new-title-form {
    display: flex;
    justify-content: space-between;
    content-align: center;
}

.auth-subtitle {
    margin: auto 30px;
    font-size: 16px;
    color: var(--gray_50);

    &:hover {
        color: var(--gray_20);
        cursor: pointer;
    }
}