.main-page-wrapper {
    padding: 60px 50px;
}

.main-datepicker {
    max-width: 500px;
    min-width: 300px;
    margin-right: 50px;
    padding: auto;
}

.main-select2 {
    max-width: 1000px;
    min-width: 500px;
}

.flex-head {
    display: flex;
    align-content: center;
}