@import '/src/styles/settings.pcss';

.range-date-count {
  font-size: 15px;
  line-height: 20px;

  &_top-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .filter-section & {
    top: 20px;
    opacity: 0.5;
  }
}
